@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  --box-width: 3rem;
  --clr-neutral: #fff;
  --clr-shadow: rgba(88, 217, 226, 0.733);
  --clr-back: #4e4d4d;
  --clr-background: #272727;
  background: var(--clr-background);
  font-family: "Poppins";
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
header {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: var(--clr-neutral);
  font-size: 4rem;
}
.main-menu {
  width: 100vw;
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  margin: 2rem;
}
.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 3px solid var(--clr-neutral);
  background: var(--clr-back);
  border-radius: 2px;
}

/* burger 1 */

.burger1 {
  box-shadow: 2px 2px 5px rgba(88, 217, 226, 0.733);
}

.menu-btn__burger1 {
  width: 50px;
  height: 6px;
  background: var(--clr-neutral);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(88, 217, 226, 0.733);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger1::before,
.menu-btn__burger1::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background: var(--clr-neutral);
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(88, 217, 226, 0.733);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger1::before {
  transform: translateY(-16px);
}
.menu-btn__burger1::after {
  transform: translateY(16px);
}
/* animation burger 1 */
.menu-btn.open1 .menu-btn__burger1 {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open1 .menu-btn__burger1::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open1 .menu-btn__burger1::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

/* burger 2 */
.burger2 {
  border: 3px solid var(--clr-shadow);
  /* box-shadow: 2px 2px 5px rgba(88, 217, 226, 0.733); */
}
.menu-btn__burger2 {
  width: 50px;
  height: 6px;
  background-color: var(--clr-shadow);
  border-radius: 5px;
}
.menu-btn__burger2::before,
.menu-btn__burger2::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: var(--clr-shadow);
  border-radius: 5px;
}
.menu-btn__burger2::before {
  transform: translateY(-16px);
}
.menu-btn__burger2::after {
  transform: translateY(16px);
}
/* animation burger 2 */
.menu-btn.open2 .menu-btn__burger2 {
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  transition: all 0.5s ease-in-out;
  background-color: var(--clr-shadow);
  border: 1px var(--clr-background) solid;
}
.menu-btn.open2 .menu-btn__burger2::before {
  background: transparent;
  box-shadow: none;
}
.menu-btn.open2 .menu-btn__burger2::after {
  background: transparent;
  box-shadow: none;
}
/* burger 3 */
.menu-btn__burger3 {
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 5px;
}
.menu-btn__burger3::before,
.menu-btn__burger3::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #fff;
  border-radius: 5px;
}
.menu-btn__burger3::before {
  transform: translateY(-16px);
}
.menu-btn__burger3::after {
  transform: translateY(16px);
}
/* animation burger 3 */

.menu-btn.open3 .menu-btn__burger3::before {
  background: transparent;
}
.menu-btn.open3 .menu-btn__burger3::after {
  background: transparent;
}

/* heart */
.menu-btn-heart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.heart {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: red;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heart:after {
  background-color: red;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}
.heart:before {
  background-color: red;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}
/* animation heart */
@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
  }
}

/* animation heart */

.menu-btn-heart:hover .heart:after,
.menu-btn-heart:hover .heart::before {
  background: darkred;
  color: darkred;
}
.menu-btn-heart:hover .heart {
  transform: scale(1.2) rotate(-45deg);
  background: darkred;
  color: darkred;
  animation-duration: 0.5s;
}
